<!-- Page Header: not currently in use -->
@{ViewData["Title"] = "";}

<!-- DIV contains all content related to selecting the directory -->
<div id="indicatePath" class="text-center">
	<!-- Main Title -->
	<h1 class="display-4">Habeas Corpus!</h1>
	<!-- User instructions -->
	<p>Please specify a directory to index:</p>
	<!-- DIV containing select directory button -->
	<div id="walla">
	<!-- select directory button -->
	<button id="select-directory">
		Select Path
	</button>
	</div>
	<!-- Loading Text -->
	<h4 class="display-6" id="indexing" style="display: none">Loading...</h4>
	<br />
	<!-- Error Message: path does not exist -->
	<div class="alert-danger" id="NoPath" style="display:none; padding: 20px; text-align:center; border-radius: 10px;"> The selected path does not exist: please select another path.</div>
	<!-- Error Message: path does not contain content -->
	<div class="alert-danger" id="EmptyFile" style="display:none; padding: 20px; text-align:center; border-radius: 10px;"> The selected path does not contain any content: please select another path.</div>
</div>

<!-- DIV containing content for interacting with corpus -->
<div id="searchDirectory" style="display:none" class="text-center">
	<!-- Main Title -->
	<h1 class="display-4">Habeas</h1>
	<!-- User instruction -->
	<span id="titleHeading">Search Corpus</span>
	<br />
	<!-- Dropdown + Text Input -->
	<select id="searchChoice">
		<option value="searchOption" selected>Search</option>
		<option value="stem">Stem</option>
		<option value="soundex">Soundex</option>
	</select><input id="searchText" type="text" /><input style="display: none;" id="stemText" type="text" /><input style="display: none;" id="soundexText" type="text" />
	<br />
	<br />
	<!-- DIV containing enter button -->
	<div id="enterDIV">
		<!-- enter button -->
		<button id="search" class="btn-primary">Enter</button>
	</div>
	<!-- Searching Text -->
	<h4 class="display-6" id="loading" style="display: none">Searchin'...</h4>
	<br />

	<!-- DIV responsible for displaying vocab/query results -->
	<div id="vocabSection" style="display:none;">
		<span id="vocabTotal"></span>
		<br/><br/>
		<div id="vocabContainer"> </div>
	</div>

	<!-- DIV responsible for displaying stemmed term -->
	<div id="stemmedTerm" style="display:none;">
		<span id="originalTerm"></span><span id="sTerm"></span>
	</div>

</div>
